<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
    <title th:text="#{app.name}"></title>
</head>

<body>
    <!-- <div th:replace="~{ fragments/common :: (${user.isAdmin}? #{header.admin} : #{header.normaluser}) }"></div> -->
    <header th:insert="~{fragments/header_page :: (${isLogin}) ? headerlogin : headernologin}"></header>
    <main class="container-fluid">
        <div class="banner mx-auto">
            anggap ini banner
        </div>
        <a th:href="@{/auth/add}">Daftar Sebagai Divisi Pendidikan</a>
        <form th:action="@{/divisi/pendidikan/saveg}" method="post">
            <input type="text" th:field="${add.practiceGroup}" id="">
            <input type="number" th:field="${add.total}" id="">
            <input type="submit" value="Simpan">
        </form>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: (${isLogin}) ? footerlogin : footernologin}"></footer>
</body>

</html>