<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
</head>

<body>
    <header th:insert="~{fragments/header_page :: divisi}"></header>
    <main class="container-fluid">
        <form th:action="@{/divisi/pendidikan/savem}" method="post" th:object="${update}">
            <div class="input-group mb-3">
                <label for="" class="input-group-text">Nama Anggota</label>
                <input type="hidden" th:field="*{id}">
                <select name="" id="" th:field="*{idMember}">
                    <option th:each="m : ${member}" th:value="${m.id}" th:text="${m.name}"></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="" class="input-group-text">Jabatan</label>
                <input type="text" th:field="*{role}" id="">
            </div>
            <div class="input-group mb-3">
                <input type="submit" value="Simpan">
            </div>
        </form>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: divisi}"></footer>
</body>

</html>