<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
    <title th:text="#{app.name}"></title>
</head>

<body>
    <!-- <div th:replace="~{ fragments/common :: (${user.isAdmin}? #{header.admin} : #{header.normaluser}) }"></div> -->
    <header th:insert="~{fragments/header_page :: (${isLogin}) ? headerlogin : headernologin}"></header>
    <main class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>NIM</th>
                    <th>NAMA MAHASISWA</th>
                    <th>ALAMAT</th>
                    <th>DESKRIPSI</th>
                    <th>TAHUN MASUK</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="anggota : ${all}" th:object="${anggota}">
                    <!-- <td th:text="*{id}"></td> -->
                    <td th:text="*{nim}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{address}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{ryear}"></td>
                    <td>
                        <a
                            th:href="@{/update/{id}(id = *{id})}" class="btn btn-info">Update</a> | <a th:href="@{/delete/{id}(id = *{id})}" class="btn btn-danger">Hapus</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td th:text="${'Jumlah : '+count}"></td>
                </tr>
            </tfoot>
        </table>
    </main>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}"></script>
    <footer th:replace="~{fragments/common :: (${isLogin}) ? footerlogin : footernologin}"></footer>
</body>

</html>