<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>Show All Employee in Yogi Store</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>


  <body>
     <!-- =============== Navigation ================ -->
    <div class="container">
      <div th:insert="~{/home :: navigation}"></div>
        <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="searchh">
              <form action="#" th:action="@{/search}" method="get">
                <label>
                    <input type="text"placeholder="Cari berdasarkan Nama Karyawan" name="search">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
              </form>
            </div>

            <div class="filter">
              <a th:href="@{/sort-by-name-asc}">
                <button>Urutkan Berdasarkan Nama</button>
              </a>
            </div>

            <div class="userr">
              <div class="user">
                  <ion-icon name="person-circle-outline"></ion-icon>
              </div>

              <h3 sec:authentication="principal.username"></h3>
          </div>
        </div>


        <div class="data-tabel">
          <h1>Data Pegawai</h1>
    
          <div>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nama</th>
                  <th>Jabatan</th>
                  <th>Tanggal Masuk</th>
                  <th>Tindakan</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="e : ${employees}">
                  <td th:text="${e.id}"></td>
                  <td th:text="${e.name}"></td>
                  <td th:if="${e.position != null}" th:text="${e.position.positionName}"></td>
                  <td th:unless="${e.position != null}">Position Not Available</td>
                  <td th:text="${e.entryDate}"></td>
                  <td>
                    <button sec:authorize="hasRole('MANAGER')">
                      <a th:href="@{/updateEmployee/{id}(id=${e.id})}">
                          <ion-icon name="create-outline"></ion-icon>
                      </a>
                    </button>
    
                    <button  sec:authorize="hasRole('MANAGER')">
                      <a th:href="@{/deleteEmployee/{id}(id=${e.id})}">
                          <ion-icon name="trash-outline"></ion-icon>
                      </a>
                    </button>
    
                    <button>
                      <a th:href="@{/detailEmployee/{id}(id=${e.id})}">
                          <ion-icon name="eye-outline"></ion-icon>
                      </a>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <div class="tambah" sec:authorize="hasRole('MANAGER')">
            <button>
              <a th:href="@{/addEmployee}">Tambah Pegawai</a>
            </button>

            <button>
              <a th:href="@{/}">Kembali</a>
            </button>
          </div>

        </div>
      </div>
    </div>
  </body>

    <!-- =========== Scripts =========  -->
    <script src="/js/home.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </body>
</html>
