<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,300;1,700&display=swap"
    rel="stylesheet">
</head>
<style>
         body {
    background-color: #f8f9fa;
    background-image: url('bg2.jpg');
    background-size: 100%;
    background-position: center;
    font-family: "Cormorant Garamond";
}

.container {
    background-color: #836f6f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto; /* Center vertically and horizontally */
    max-width: 600px; /* Limit the width for better readability on larger screens */
}
</style>

<body class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <h1 class="text-center mb-4"><b><hr>Pemesanan</b></h1>
        <form th:action="@{/save-booking}" method="post" enctype="multipart/form-data" class="row g-3">
            <input type="hidden" th:field="${booking.idBooking}" />
            <div class="col-md-6">
                <label for="customerId" class="form-label">Customer</label>
                <select class="form-select" id="customerId" th:field="${booking.idCustomer}">
                    <option th:each="cs : ${customer}" th:value="${cs.idCustomer}" th:text="${cs.name}"></option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="roomId" class="form-label">Room</label>
                <select class="form-select" th:field="${booking.idRoom.idRoom}">
                    <option th:value="${room.idRoom}" th:text="${room.type}"></option>
                </select>
            </div>
            <div class="col-md-6 mt-3">
                <label for="checkInDate" class="form-label">Check-In Date</label>
                <input type="date" class="form-control" id="checkInDate" th:field="${booking.checkInDate}" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="checkOutDate" class="form-label">Check-Out Date</label>
                <input type="date" class="form-control" id="checkOutDate" th:field="${booking.checkOutDate}" />
            </div>

            <div class="col-12 mt-4 text-center">
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
    <script>
        const name = new URLSearchParams(window.location.search)
        document.getElementById("customerId").selectedIndex = 1;
    </script>
</body>
</html>