<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Update Customer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h3>Update Customer</h3>
      <form action="/save-admin" th:object="${customer}" method="post">
        <input type="hidden" th:field="${customer.idCustomer}" />
        <input
          type="text"
          placeholder="Input name"
          th:field="${customer.name}"
          class="form-control mb-4 col-4"
        />

        <input
          type="text"
          placeholder="address"
          th:field="${customer.address}"
          class="form-control mb-4 col-4"
        />
        <input
          type="text"
          placeholder="email"
          th:field="${customer.email}"
          class="form-control mb-4 col-4"
        />
        <input
          type="text"
          placeholder="Input phone number"
          th:field="${customer.phoneNumber}"
          class="form-control mb-4 col-4"
        />
        <input
          type="text"
          placeholder="username"
          th:field="${customer.username}"
          class="form-control mb-4 col-4"
        />

  
        <button type="submit" class="btn btn-dark col-15 mb-4">
          Update Customer
        </button>
      </form>
      <hr />
   
    </div>
  </body>
</html>
