<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>AKASA</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">AKASA</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-outline-dark" th:href="@{/cart}">
              <i class="bi-cart-fill me-1"></i>
              Cart
            </a>
          </form>
          <div class="nav-item dropdown">
            <p
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              th:text="${userActv.username}"
              style="margin-top: 10px"
            ></p>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" th:href="@{'/update_user/' + ${userActv.id}}">Edit Account</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" th:href="@{/login}">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <section
      data-bs-version="5.1"
      class="header2 cid-tjQDC0fgGE"
      id="header02-0"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg col-md-12">
            <div class="text-wrapper align-left">
              <h1
                class="mbr-section-title align-left mbr-fonts-style mb-3 display-2"
              >
                <strong>Web Chat Communication App</strong>
              </h1>
              <p class="mbr-text align-left mbr-fonts-style display-5">
                Lorem ipsum dolor sit amet, consectetur. Proin cursus vitae nunc
                elementum parturient.
              </p>
              <div class="mbr-section-btn mt-3 align-left">
                <a class="btn btn-primary display-7" href="#"
                  >Get Started Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="image-wrapper">
              <img
                class="w-100"
                src="https://www.zaparetech.com/img/about-img.png"
                alt="Mobirise Website Builder"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <!-- About 1 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5">
      <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <img
              class="img-fluid rounded"
              loading="lazy"
              src="https://st2.depositphotos.com/3591429/6006/i/450/depositphotos_60063963-stock-photo-people-discussing-about-us.jpg"
              alt="About 1"
            />
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-11">
                <h2 class="mb-3">Who Are We?</h2>
                <p class="lead fs-4 text-secondary mb-3">
                  We help people to build incredible brands and superior
                  products. Our perspective is to furnish outstanding
                  captivating services.
                </p>
                <p class="mb-5">
                  We are a fast-growing company, but we have never lost sight of
                  our core values. We believe in collaboration, innovation, and
                  customer satisfaction. We are always looking for new ways to
                  improve our products and services.
                </p>
                <div class="row gy-4 gy-md-0 gx-xxl-5X">
                  <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          fill="currentColor"
                          class="bi bi-gear-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
                          />
                        </svg>
                      </div>
                      <div>
                        <h2 class="h4 mb-3">Versatile Brand</h2>
                        <p class="text-secondary mb-0">
                          We are crafting a digital method that subsists life
                          across all mediums.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          fill="currentColor"
                          class="bi bi-fire"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"
                          />
                        </svg>
                      </div>
                      <div>
                        <h2 class="h4 mb-3">Digital Agency</h2>
                        <p class="text-secondary mb-0">
                          We believe in innovation by merging primary with
                          elaborate ideas.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <section class="py-3 py-md-5 py-xl-8">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8">
            <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
            <h2 class="display-5 mb-4">
              At our core, we prioritize pushing boundaries, embracing the
              unknown, and fostering a culture of continuous learning.
            </h2>
            <button
              type="button"
              class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5"
            >
              Connect Now
            </button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0">
          <div class="col-12 col-lg-6">
            <div class="card bg-light p-3 m-0">
              <div class="row gy-3 gy-md-0 align-items-md-center">
                <div class="col-md-5">
                  <img
                    src="https://360-onlinemarketing.com/wp-content/uploads/2018/09/inner-page-about-img.jpg"
                    class="img-fluid rounded-start"
                    alt="Why Choose Us?"
                  />
                </div>
                <div class="col-md-7">
                  <div class="card-body p-0">
                    <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                    <p class="card-text lead">
                      With years of experience and deep industry knowledge, we
                      have a proven track record of success and are pushing
                      ourselves to stay ahead of the curve.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card bg-light p-3 m-0">
              <div class="row gy-3 gy-md-0 align-items-md-center">
                <div class="col-md-5">
                  <img
                    src="https://indglobal.in/wp-content/uploads/2019/05/overview-1.webp"
                    class="img-fluid rounded-start"
                    alt="Visionary Team"
                  />
                </div>
                <div class="col-md-7">
                  <div class="card-body p-0">
                    <h2 class="card-title h4 mb-3">Visionary Team</h2>
                    <p class="card-text lead">
                      With a team of visionary engineers, developers, and
                      creative minds, we embark on a journey to transform
                      complex challenges into ingenious technological solutions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Your Website 2023</p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
