<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flash Sale</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">AKASA</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-outline-dark" th:href="@{/cart}">
              <i class="bi-cart-fill me-1"></i>
              Cart
            </a>
          </form>
          <div class="nav-item dropdown">
            <p
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              th:text="${userActv.username}"
              style="margin-top: 10px"
            ></p>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" th:href="@{'/update_user/' + ${userActv.id}}">Edit Account</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" th:href="@{/login}">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="card bg-light my-5 container align-items-center">
      <div class="card-body">
        <h5 class="card-title">Total Your Cart</h5>
        <p class="card-text" th:text="'Rp.'+${total}"></p>
        <p class="card-text">Siapkan Uang Pas!</p>
        <a th:href="@{/confirm}" class="btn btn-primary">Oke!</a>
        <a th:href="@{/cart}" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
