<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Grade</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />    
  <link rel="stylesheet" th:href="@{/style2.css}" />
  <link rel="stylesheet" th:href="@{/style3.css}" />


</head>
<body>
    <div id="sidebar">
        <div id="logo"></div>
        <ul id="menu">
        
          <li id="logout nav-item">
            <a th:href="@{/login}" id="nav-item">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
    </div>

      <div id="main--content" >
        <div id="header--wrapper">
          <div id="header--title">
              <img src="logo.png" alt="">
                <h2 id="hai">Academic Information Portal</h2>
          </div>
          <div id="user--info">
            <div id="search--box">
              <i id="fa-solid fa-search"></i>
              <input type="text" placeholder="Search" />
            </div>
            <img src="" alt="image" />
          </div>
        </div>
        
            <div class="container mt-4">
                <h2>Input Grade</h2>
                <form th:action="@{/update-grade/{id}(id=${grade.id})}" method="post" class="row g-3 needs-validation">                    <div class="col-md-6">
                        <label for="matkulId" class="form-label">Matakuliah:</label>
                        <select id="matkulId" name="matkulId" class="form-select" required>
                            <option th:each="matkul : ${matkuls}" th:value="${matkul.id}" th:text="${matkul.name}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Matakuliah harus dipilih.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="studentId" class="form-label">Mahasiswa:</label>
                        <select id="studentId" name="studentId" class="form-select" required>
                            <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Mahasiswa harus dipilih.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="value" class="form-label">Nilai:</label>
                        <input type="text" id="value" name="value" th:field="${grade.value}" class="form-control" required>
                        <div class="invalid-feedback">
                            Nilai harus diisi.
                        </div>
                    </div>
                    <div class="col-md-12">

                        <button type="submit" class="btn btn-primary" >Simpan</button>
                    </div>
                </form>
                
            </div>
        
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
