<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
</head>

<body>
    <header th:insert="~{fragments/header_page :: divisi}"></header>
    <main class="container-fluid">
        <div class="container-xxl">
            <div class="row my-4 shadow-sm">
                <div class="col-xl-10 col-sm">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"
                            aria-labelledby="v-pills-dashboard-tab" tabindex="0">
                            Divisi Kerohanian
                        </div>
                        <div class="tab-pane fade" id="v-pills-member" role="tabpanel"
                            aria-labelledby="v-pills-member-tab" tabindex="0">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-member-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-member" type="button" role="tab" aria-controls="nav-member"
                                        aria-selected="true">DAFTAR ANGGOTA</button>
                                    <button class="nav-link" id="nav-add-member-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-add-member" type="button" role="tab"
                                        aria-controls="nav-add-member" aria-selected="false">TAMBAH ANGGOTA</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab" tabindex="0">
                                    <table class="table">
                                        <tr>
                                            <th>NO</th>
                                            <th>NAMA</th>
                                            <th>JABATAN</th>
                                        </tr>
                                        <div th:each="m,n : ${memberDiv}">
                                            <tr th:each="a : ${m.idMember}">
                                                <td th:text="${n.count}"></td>
                                                <td th:text="${a.name}"></td>
                                                <td th:text="${m.role}"></td>
                                                <td><a th:href="@{/divisi/kerohanian/delete/{id}(id=${m.id})}">HAPUS</a>
                                                </td>
                                                <td><a
                                                        th:href="@{/divisi/kerohanian/update/{id}(id=${m.id})}">Update</a>
                                                </td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="nav-add-member" role="tabpanel"
                                    aria-labelledby="nav-add-member-tab" tabindex="0">
                                    <form th:action="@{/divisi/kerohanian/save}" method="post" th:object="${addMember}">
                                        <div class="input-group mb-3">
                                            <label for="" class="input-group-text">NAMA ANGGOTA</label>
                                            <select th:field="*{idMember}" id="">
                                                <option th:each="m : ${member}" th:value="${m.id}" th:text="${m.name}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label for="" class="input-group-text">JABATAN</label>
                                            <input type="text" th:field="*{role}" id="" pattern="[a-zA-Z\s]+" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="submit" value="Simpan">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-religion" role="tabpanel"
                            aria-labelledby="v-pills-religion-tab" tabindex="0">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-religion-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-religion" type="button" role="tab"
                                        aria-controls="nav-religion" aria-selected="true">POIN DAN HAFALAN</button>
                                    <button class="nav-link" id="nav-add-data-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-add-data" type="button" role="tab"
                                        aria-controls="nav-add-data" aria-selected="false">TAMBAH DATA</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-religion" role="tabpanel"
                                    aria-labelledby="nav-religion-tab" tabindex="0">
                                    <table class="table">
                                        <tr>
                                            <th>NO</th>
                                            <th>NAMA</th>
                                            <th>HAFALAN</th>
                                            <th>POIN</th>
                                        </tr>
                                        <div th:each="m,n : ${data}">
                                            <tr th:each="a : ${m.iduser}">
                                                <td th:text="${n.count}"></td>
                                                <td th:text="${a.name}"></td>
                                                <td th:text="${m.hafalan}"></td>
                                                <td th:text="${m.pointleft}"></td>
                                                <td><a
                                                        th:href="@{/divisi/kerohanian/delete-data/{id}(id=${m.id})}">Hapus</a>
                                                </td>
                                                <td><a
                                                        th:href="@{/divisi/kerohanian/update-data/{id}(id=${m.id})}">Update</a>
                                                </td>
                                            </tr>
                                        </div>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="nav-add-data" role="tabpanel"
                                    aria-labelledby="nav-add-data-tab" tabindex="0">
                                    <form th:action="@{/divisi/kerohanian/save-data}" method="post"
                                        th:object="${addReligion}">
                                        <div class="input-group mb-3">
                                            <label for="" class="input-group-text">NAMA ANGGOTA</label>
                                            <select th:field="*{iduser}" id="">
                                                <option th:each="m : ${member}" th:value="${m.id}" th:text="${m.name}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label for="" class="input-group-text">HAFALAN</label>
                                            <input type="text" th:field="*{hafalan}" id="" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label for="" class="input-group-text">SISA POIN</label>
                                            <input type="number" th:field="*{pointleft}" id="" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="submit" value="Simpan">
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-sm">
                    <div class="nav flex-column nav-underline me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-dashboard-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-dashboard" type="button" role="tab"
                            aria-controls="v-pills-dashboard" aria-selected="true">DASHBOARD</button>
                        <button class="nav-link" id="member-tab" data-bs-toggle="pill" data-bs-target="#v-pills-member"
                            type="button" role="tab" aria-controls="v-pills-member" aria-selected="false">DAFTAR
                            MEMBER</button>
                        <button class="nav-link" id="v-pills-religion-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-religion" type="button" role="tab" aria-controls="v-pills-religion"
                            aria-selected="false">POIN DAN HAFALAN</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: divisi}"></footer>
</body>

</html>