<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
    <title th:text="#{app.name}"></title>
</head>

<body>
    <!-- <div th:replace="~{ fragments/common :: (${user.isAdmin}? #{header.admin} : #{header.normaluser}) }"></div> -->
    <header th:insert="~{fragments/header_page :: (${isLogin}) ? headerlogin : headernologin}"></header>
    <main class="container-fluid">
        <div class="banner mx-auto">
            anggap ini banner
        </div>
        <table>
            <tr>
                <th>NO</th>
                <th>NAMA</th>
                <th>HAFALAN</th>
                <th>POIN</th>
            </tr>
            <div th:each="m,n : ${member}">
                <tr th:each="a : ${m.iduser}">
                    <td th:text="${n.count}"></td>
                    <td th:text="${a.name}"></td>
                    <td th:text="${m.hafalan}"></td>
                    <td th:text="${m.pointleft}"></td>
                    <td><a th:href="@{/divisi/kerohanian/delete-data/{id}(id=${m.id})}">Hapus</a></td>
                    <td><a th:href="@{/divisi/kerohanian/update-data/{id}(id=${m.id})}">Update</a></td>
                </tr>
            </div>
        </table>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: (${isLogin}) ? footerlogin : footernologin}"></footer>
</body>

</html>