<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
</head>

<body>
    <header th:insert="~{fragments/header_page :: divisi}"></header>
    <main class="container-fluid">
        <div class="banner mx-auto">
            anggap ini banner
        </div>
        <form th:action="@{/divisi/kerohanian/save}" method="post" th:object="${add}">
            <div class="input-group mb-3">
                <label for="" class="input-group-text">NAMA ANGGOTA</label>
                <input type="hidden" th:field="*{id}">
                <select th:field="*{idMember}" id="">
                    <option th:each="m : *{member}" th:value="${m.id}" th:text="${m.name}"></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="" class="input-group-text">JABATAN</label>
                <input type="text" th:field="*{role}" id="" pattern="[a-zA-Z\s]+" required>
            </div>
            <div class="input-group mb-3">
                <input type="submit" value="Simpan">
            </div>
        </form>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: divisi}"></footer>
</body>

</html>