<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
</head>

<body>
    <header th:insert="~{fragments/header_page :: divisi}"></header>
    <main class="container-fluid">]
        <form th:action="@{/divisi/kebersihan/save}" method="post" th:object="${update}">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">NAMA</label>
                <select th:field="*{idmember}" id="">
                    <option th:each="m : ${idmember}" th:value="${m.id}" th:text="${m.name}"></option>
                </select>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">RUANGAN</label>
                <select th:field="*{idroom}" id="">
                    <option th:each="m : ${idroom}" th:value="${m.id}" th:text="${m.room}"></option>
                </select>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">HARI</label>
                <input type="text" th:field="*{day}">
            </div>
            <div class="form-group row">
                <input type="submit" value="Simpan">
            </div>
        </form>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: divisi}"></footer>
</body>

</html>