<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Show all Message</title>
  <link rel="stylesheet" href="../css/show-admin.css">
</head>

<body>
    <header>
        <h1>Perpustakaan Digital</h1>
      </header>
      <nav>
        <ul>
          <li><a th:href="@{/home-admin}">Dashboard</a></li>
          <li><a th:href="@{/member}">Data Anggota</a></li>
          <li><a th:href="@{/book}">Katalog Buku</a></li>
          <li><a th:href="@{/history-admin}">Riwayat Peminjaman</a></li>
          <li><a th:href="@{/message-admin}" class="active">Pesan</a></li>
        </ul>
      </nav>
      <div class="logout">
        <a th:href="@{/login}"><img th:src="@{../css/door.png}" alt="library"></a>
      </div>
  <div class="table-show">
    <h1>Riwayat Pesan</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Pengirim</th>
          <th>Isi Pesan</th>
          <th>Status Pesan</th>
          <th>Tanggal Pesan</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="message : ${messages}">
          <div th:each="member : ${message.idMember}">
          <td th:text="${message.id}"></td>
          <td th:text="${member.memberName}"></td>
          <td th:text="${message.content}"></td>
          <td th:text="${message.statusMessage}"></td>
          <td th:text="${message.dateSend}"></td>
          <td>
            <span class="btn">
              <a th:href="@{/message-admin-delete/{id}(id=${message.id})}">Hapus</a>
            </span>
          </td>
        </div>
        </tr>
      </tbody>
    </table>
    <!-- <a th:href="@{/add-message}">
      <button>Kirim Pesan</button>
    </a> -->
  </div>
</body>

</html>