<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
</head>

<body>
  <header th:insert="~{fragments/header_page :: admin}"></header>
  <main class="container-xxl">
    <div class="row">
      <aside class="col-xl-2 col-sm">
        <ul class="list-group my-4">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Mahasiswa PUB
            <span class="badge bg-primary rounded-pill" th:text="${countPUB}">84</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Divisi
            <span class="badge bg-primary rounded-pill">7</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Akun Terdaftar
            <span class="badge bg-primary rounded-pill" th:text="${totalAccount}">1</span>
          </li>
        </ul>
        <hr>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
          Nama Angkatan
        </button>
        <div class="collapse m-2" id="collapseExample">
          <div class="card card-body">
            <ul class="list-group my-4">
              <li class="list-group-item d-flex justify-content-between align-items-center" th:each="g : ${genlist}" th:text="${g.name}">
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="card text-center">
          <div class="card-header" th:text="${name}">Featured</div>
          <div class="card-body">
            <h5 class="card-title" th:text="${number}">Special title treatment</h5>
            <p class="card-text" th:text="${message}">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </aside>

      <section class="col-xl-10">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#dashboard" aria-selected="true">Dashboard</button>
          </li> 
          <li class="nav-item">
            <button class="nav-link" id="add-tab" data-bs-toggle="tab" data-bs-target="#add" aria-selected="false">Daftar Mahasiswa</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" aria-selected="false">Daftar Akun</button>
          </li>
        </ul>
        <div class="tab-content" id="tabContent">
          <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <div class="container">
            Tab Dashboard
            </div>
          </div>
          <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
            <div class="container m-2">
              <div class="list-group">
              <a href="/admin/add-member/" class="list-group-item list-group-item-action">Tambah Mahasiswa PUB</a>
              <a href="/admin/add-gen/" class="list-group-item list-group-item-action">Tambah Angkatan PUB</a>
              </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5" th:each="anggota : ${pubs}" th:object="${anggota}">
                    <div class="card mt-5 pt-5">
                        <img th:src="@{/img/profile.png}"
                            class="rounded-circle w-50 position-absolute top-0 start-50 translate-middle" alt="" />
                        <div class="card-body text-center pt-5">
                            <h5 class="card-title" th:text="*{name}">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="*{ryear}+' - '+*{idgen.name}">Card subtitle</h6>
                            <p th:text="*{description}">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="card-footer text-center pt-5">
                            <a
                            th:href="@{/admin/update-member/{id}(id = *{id})}" class="btn btn-info">Update</a> <a th:href="@{/admin/delete-member/{id}(id = *{id})}" class="btn btn-danger">Hapus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          </div>
          <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
            <div class="container m-2">
              <div class="list-group">
              <a href="/admin/add/" class="list-group-item list-group-item-action">Tambah Akun</a>
              </div>
              <table class="table caption-top">
                <caption>Daftar Akun</caption>
                <thead>
                  <tr>
                    <th>NO</th>
                    <th>NAMA PENGGUNA</th>
                    <th>ROLE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="akun,n : ${accounts}" th:object="${akun}">
                    <td th:text="${n.count}"></td>
                    <td th:text="*{username}"></td>
                    <td th:text="*{role}"></td>
                    <td>
                      <a th:href="@{/admin/update/{id}(id=*{id})}">Update</a>
                    </td>
                    <td>
                      <a th:href="@{/admin/delete/{id}(id=*{id})}">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <div th:replace="~{fragments/common :: script}"></div>
  <footer th:replace="~{fragments/footer_page :: admin}"></footer>
</body>

</html>