<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" th:href="@{/css/add-barang.css}">

</head>
<body>
  
  <section>
    <div class="href-target" id="input-types"></div>
    <h1>Add Product</h1>
    <form th:action="@{/save-barang}" th:object="${data}" method="post" enctype="multipart/form-data">
      <div class="nice-form-group">
        <label>Product Name</label>
        <input 
          type="text" 
          placeholder="Product Name"
          th:field="*{name}"
          required
          minlength="3" 
          maxlength="30" />
      </div>

      <div class="nice-form-group">
        <label>Product Description</label>
        <input 
          type="text" 
          placeholder="Product Description"
          th:field="*{keterangan}"
          minlength="4" 
          maxlength="150"
          required
          />
      </div>

      <div class="nice-form-group">
        <label>Amount</label>
        <input 
          type="number" 
          placeholder="Amount"
          th:field="*{stok}"
          required
          min="10"
          max="1000000"
        />
      </div>

      <div class="nice-form-group">
        <label>Price</label>
        <input 
          type="number"
          placeholder="Price"
          th:field="*{harga}"
          min="500"
          max="100000000"
          step="100"
          required
          />
      </div>

      <div class="nice-form-group">
        <label>Type</label>
        <select 
          th:field="*{kategori.id}"
          required
          >
          <option 
          th:each="kt : ${kategori}" 
          th:value="${kt.id}" 
          th:text="${kt.name}"
          >
        </option>
        </select>
      </div>

      <div class="nice-form-group">
        <label>Image of Product</label>
        <input 
          type="file" 
          placeholder="Upload Gambar"
          name="file"
          required
        />
      </div>
      <button type="submit" class="buttn">Add Product</button>
    </form>
    <a th:href="@{/show-barang}"><button class="buttn">Back to Home</button></a>
</body>
</html>
