<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
</head>
<body>
    <nav th:replace="~{fragments/component2 :: navbar}"></nav>
    
    <div>
        <div style="display: flex; margin: 20px auto 0; justify-content: center; align-items: center; width: 100%;">
            <form th:action="@{/search-penjualan}" style="display: flex; width: 100%; justify-content: center; align-items: center;">
                <input type="text" style="padding: 5px; width: 50%; border-radius: 6px; border: 2px solid rgb(119, 119, 119);" name="src" required placeholder="Search Something"/>
                <button type="submit" class="btn btn-primary" style="margin-left: 5px; padding: 5pxpx;">Tekan</button>
            </form>
        </div>
    </div>
    <div>
        <div class="container" style="margin-top: 20px;">
            <table class="table">
                <thead>
                        <tr>
                            <th scope="col" style="color: black">Nama User</th>
                            <th scope="col" style="color: black">Nama Barang</th>
                            <th scope="col" style="color: black">Jumlah</th>
                            <th scope="col" style="color: black">Action</th>
                        </tr>
                </thead>
                <tbody>
                    <tr th:each="dt : ${data}">
                        <th scope="col" style="color: black" th:text="${dt.akun.name}"></th>
                        <td scope="col" style="color: black" th:text="${dt.menu.name}"></td>
                        <td scope="col" style="color: black" th:text="${dt.jumlah}"></td>
                        <td scope="col" style="color: black">
                            <a th:href="@{/delete-riwayat/{id}(id=${dt.id})}" class="btn btn-warning">Delete</a>
                        </td>
                    </tr>
                </tbody>
            <table>
            <div style="width: 84.5%; justify-content: end;display: flex; margin-top: 10px;">
                <a th:href="@{/delete-all-riwayat}"><button class="btn btn-warning">Delete All</button></a>
            </div>
        </div>
    </div>
</body>
</html>