<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Edit Data Penggajian</title>
    <link rel="stylesheet" href="/css/home.css">

  </head>

  <body>
    <div class="container">
      <div th:insert="~{/home :: navigation}"></div>
      <div class="main">
        <div th:insert="~{/home :: topbar}"></div>
        <div class="edit-data">
          <h1>Edit Data Penggajian</h1>
          <form action="#" th:action="@{/savePayroll}" method="post" class="d-flex flex-column mb-3">
            <input
              type="hidden"
              th:field="${newPayroll.id}"
            />
    
            <label for="employee">Nama Karyawan</label>
            <select th:field="${newPayroll.employee}" onchange="editForm(this)" >
              <option value="" disabled selected>Pilih Karyawan</option>
              <option th:each="employee : ${listEmployee}" th:value="${employee.id}" th:text="${employee.name}"></option>
            </select>
    
            <label for="">Periode</label>
            <input
              type="month"
              th:field="${newPayroll.month}"
            />
    
            <label for="">Nama jabatan</label>
            <input
                type="text"
                id="position"
                th:readonly="${employee != null}"
                readonly
            />
    
            <label for="">Gaji Pokok</label>
            <input
                type="number"
                id="basicSalary"
                th:readonly="${employee != null}"
                readonly
            />
    
            <label for="">Tunjangan Transportasi</label>
            <input
                type="number"
                id="transportAllowance"
                readonly
            />
    
            <label for="">Uang Makan</label>
            <input
                type="number"
                id="mealAllowance"
                readonly
            />
    
            <label for="">Potongan Gaji</label>
            <input
                type="number"
                th:field="${newPayroll.salaryCut}"
                onchange="updateNetSalary()"
            />
    
            <label for="">Gaji Bersih</label>
            <input
                type="number"
                th:field="${newPayroll.netSalary}"
                readonly
            />
    
            <input class="btn btn-success col-2" type="submit" value="Save" />
            
          </form>
        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="/js/home.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script th:inline="javascript">
      function editForm(selectElement) {
      var selectedIndex = selectElement.selectedIndex;
      var employeeName = selectElement.options[selectedIndex].text;
      updatePositionAndSalary(employeeName);
      }

      function updatePositionAndSalary(employeeName) {
          fetch('/findPositionByName?name=' + employeeName)
              .then(response => response.json())
              .then(data => {
                console.log(data);
                  document.getElementById('position').value = data.positionName;
                  document.getElementById('basicSalary').value = data.basicSalary;
                  document.getElementById('mealAllowance').value = Math.round(data.basicSalary * 0.15);
                  document.getElementById('transportAllowance').value = Math.round(data.basicSalary * 0.10);
                  updateNetSalary();
              })
              .catch(error => console.error('Error:', error));
      }

      function updateNetSalary() {
          var basicSalary = parseInt(document.getElementById('basicSalary').value);
          var transportAllowance = parseInt(document.getElementById('transportAllowance').value);
          var mealAllowance = parseInt(document.getElementById('mealAllowance').value);
          var salaryCut = parseInt(document.getElementById('salaryCut').value);

          var netSalary = basicSalary + transportAllowance + mealAllowance - salaryCut;
          document.getElementById('netSalary').value = netSalary;
      }
    </script>
  </body>
</html>
