<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/common :: head}">
</head>

<body>
    <header th:insert="~{fragments/header_page :: divisi"></header>
    <main class="container-fluid">
        <form th:action="@{/divisi/kesejahteraan/save-menu}" method="post" th:object="${update}">
            <div class="input-group mb-3">
                <input type="hidden" th:field="*{id}">
                <label for="" class="input-group-text">NAMA MENU</label>
                <input type="text" th:field="*{menu}" id="">
            </div>
            <div class="input-group mb-3">
                <label for="" class="input-group-text">TIPE MENU</label>
                <input type="text" th:field="*{type}" id="">
            </div>
            <div class="input-group mb-3">
                <label for="" class="input-group-text">KETERANGAN</label>
                <input type="text" th:field="*{description}" id="">
            </div>
            <div class="input-group mb-3">
                <input type="submit" value="Simpan">
            </div>
        </form>
    </main>
    <div th:replace="~{fragments/common :: script}"></div>
    <footer th:replace="~{fragments/footer_page :: divisi}"></footer>
</body>

</html>