/* font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Caveat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 500px;
    background-color: #CDCDC0;
}
.cari{
    border-radius: 200px;
    height: 30px;
    width: 50px;
    
}
.caru{
    border-radius: 200px;
    width: 400px;
    height: 30px;
}
/* Navigasi (menu) */
nav {
    background-color: #626D71;
    color: white;
    padding: 30px;
}

.menu {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 0;
    padding: 0;
    >li{
        >a{

      color: rgb(22, 22, 18);
            border-radius: 5px;
            width: 40px;
            font-size: 20px;
        }
    }
}

.menu li {
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

.menu a:hover {
    border-bottom: 2px solid #FFF;
}
/* Kontainer untuk pencarian */
.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Mengatur tampilan kontainer produk */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 24px;

}

/* tampilan kotak produk */
.box {
  background-color: white; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  padding: 16px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.box:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

/*gambar produk */
.gambar {
  width: 260px !important;
  height: 60% !important;
  border-radius: 8px;
}
.box-harga{
    display: flex;
  
}
/*judul produk */
.title {
  
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*harga dan stok produk */
.harga-stock {
  margin-bottom: 100px;
 
}

/* Mengatur tampilan untuk harga produk */
.price {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
  color: #5d6462;
}

/* Mengatur tampilan untuk stok produk */
.stok {
  font-size: 14px;
  color: #ed1c1c;
}



/* Mengatur tampilan rating produk */
.rating {
  font-size: 14px;
  color: #f1c40f;
  font-size: 16x;
}

/* Mengatur tampilan asal kota produk */
.asal-kota {
  font-size: 14px;
  color: #777;
}

/* Slider gambar */
.slider {
    overflow: hidden;
    height: 100%;
    margin-bottom: 20px;
}

.slider figure div {
    width: 20%;
    height: 100%;
    float: left;
}

.slider figure img {
    width: 100%;
    height: auto;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}

/* Animasi slider */
@keyframes slidy {
    0% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

/* Footer */

.footer-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
    margin-inline: 32px;
}

.title-follow-us h1 {
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

.help-legal-info {
    display: flex;
    gap: 40px;
}

.help-legal-info * {
    line-height: 24px;
    font-size: 18px;
    text-align: right;
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Barlow Condensed', sans-serif;
}

.media-icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}







.hamburger{
    display: none;
    cursor: pointer;
 }
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
 }

 /* untuk Mengatur Judul yg di bawah gambar iklan */
.judul {
    text-align: center;
    margin: 20px 0;
  }
  
  .judul h1 {
    font-size: 36px;
    color: seagreen;
    text-decoration: underline;
  }

  /* untuk mengatur tammpilan si ALLPRODUCT*/
.semua-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .semua-product a {
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: seagreen;
    padding: 2px 6px;
  }
  
  .semua-product button {
    border: 4px solid seagreen;
    background-color: white;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
  }
  

  /* responsive */
@media (max-width:768px){
    .semua-product {
        padding: 20px;
      }
    
      .semua-product button {
        font-size: 14px;
        padding: 6px 12px;
      }
    .hamburger{
       display: block;
    }
 
    .hamburger.active .bar:nth-child(2){
       opacity: 0;
    }
 
    .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
 
    .hamburger.active .bar:nth-child(3){
       transform: translateY(-8px) rotate(-45deg);
    }
 
    .menu{
       position: fixed;
       left: -100%;
       top: 90px;
       gap: 0;
       flex-direction: column;
       background-color: rgba(15, 13, 13, 0.7);
       width: 100%;
       text-align: center;
       transition: 0.3s;
    }
 
    .nav-item{
       margin: 16px 0;
    }
 
    .menu.active{
       left: 0;
       z-index: 1;
    }
 
    .slider {
        overflow: hidden;
        height: 100%;
        margin-bottom: -300px;
    }
    .product-container {
       
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 12px;

    }

    .box {
        height: 300px;
    }

    .gambar {
        width: 200px;
        height: 160px;
    }

    .title {
        background-color: red;
        font-size: 14px;
    }

    .price {
        background-color: red;
        font-size: 14px;
    }

    .stok {
        font-size: 12px;
    }

  
    

 }
 

  
    
  




