<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Regis</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/signin-signup.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .srouce {
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }

        .title {
            position: relative;
            top: 10%;
            padding: 20px;
        }
    </style>
</head>

<body>

    <div class="main-container">
        <div class="form-container">

            <div class="srouce"><a title="Learn How to create Beautiful HTML & CSS login page template"
                    href="https://www.w3jar.com/beautiful-html-css-login-page-template/"> </a></div>

            <h3 class="title text-light align-items-center">Registrasi User</h2>
                <div class="form-body">
                    
                    
                    
                    <form th:action="@{/save-register}" class="the-form" th:object="${user}" method="post">
                        <!-- <div class="form-grup"> -->
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" th:field="*{email}">
                        <!-- </div> -->
                        <!-- <div class="form-grup"> -->
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username " th:field="*{username}">
                        <!-- </div> -->
                        <!-- <div class="form-grup"> -->
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" th:field="*{password}">
                        <!-- </div> -->
                        

                        <input type="submit" value="Register" class="button bg-dark text-light">

                    </form>

                </div>

                <div class="form-footer">
                    <div>
                        <span>Have any account?</span> <a th:href="@{/login-users}">login</a>
                    </div>
                </div><!-- FORM FOOTER -->

        </div><!-- FORM CONTAINER -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>